.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%; /* Adjust as necessary */
}
.card {
    position: relative;
    background-color: var(--card-background-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--card-shadow-light);
    padding: 1.5rem;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    text-align: center;
}
.card a {
    color: var(--link-color);
    text-decoration: underline;
    transition: color 0.3s;
}

.card a:hover {
    color: var(--link-hover-color);
}

body.dark-mode .card {
    background-color: var(--card-background-dark);
    box-shadow: 0 4px 8px var(--card-shadow-dark);
}

body.dark-mode .card:hover {
    box-shadow: 0 8px 16px var(--card-shadow-dark);
}

.input-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.input-container label {
    margin-right: 0.5rem;
    font-size: 1rem;
    color: var(--text-light);
}

.input-container input,
.input-container select {
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
    color: var(--text-light);
    background-color: var(--background-light);
    width: 100%;
    max-width: 100px; /* Adjusted width for select */
}

body.dark-mode .input-container input,
body.dark-mode .input-container select {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

body.dark-mode .input-container label {
    color: var(--text-dark);
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.button-container button {
    background-color: var(--primary-color);
    color: var(--text-dark);
    border: none;
    padding: 0.25rem 0.75rem; /* Reduced padding for smaller buttons */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 150px; /* Adjusted max-width for smaller buttons */
    text-align: center;
    margin: 0 0.5rem; /* Added margin to space out buttons if there are multiple */
}

.button-container button:hover {
    background-color: var(--primary-hover);
}

body.dark-mode .button-container button {
    background-color: var(--primary-color);
    color: var(--text-dark);
}

body.dark-mode .button-container button:hover {
    background-color: var(--primary-hover);
}
/* Add additional styles to style the color palettes */
/* Add additional styles to style the color palettes */

    