:root {
    --background-light: #f0f5f9;
    --background-dark: #2c3e50;
    --text-light: #333333;
    --text-dark: #ffffff;
    --primary-color: #3498db;
    --primary-hover: #2980b9;
    --secondary-color: #9b59b6;
    --secondary-color-dark: #9b59b6;
    --card-background-light: #ffffff;
    --card-background-dark: #34495e;
    --card-shadow-light: rgba(0, 0, 0, 0.1);
    --card-shadow-dark: rgba(0, 0, 0, 0.5);
    --link-color: #3498db; /* Add this line */
    --link-hover-color: #2980b9; /* Add this line */
}

.card-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%; /* Adjust as necessary */
}
.card2 {
    position: relative;
    background-color: var(--card-background-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--card-shadow-light);
    padding: 1.5rem;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    text-align: center;
}
.card2 a {
    color: var(--link-color);
    text-decoration: underline;
    transition: color 0.3s;
}

.card2 a:hover {
    color: var(--link-hover-color);
}


body.dark-mode .card2 {
    background-color: var(--card-background-dark);
    box-shadow: 0 4px 8px var(--card-shadow-dark);
}

body.dark-mode .card2:hover {
    box-shadow: 0 8px 16px var(--card-shadow-dark);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.input-container label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: var(--text-light);
}

.input-container input {
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
    color: var(--text-light);
    background-color: var(--background-light);
    width: 100%;
    max-width: 300px;
}

body.dark-mode .input-container input {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

body.dark-mode .input-container label {
    color: var(--text-dark);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.button-container button {
    background-color: var(--primary-color);
    color: var(--text-dark);
    border: none;
    padding: 0.5rem 1rem;
    padding-right: 3px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 200px;
    text-align: center;
}

.button-container button:hover {
    background-color: var(--primary-hover);
}

body.dark-mode .button-container button {
    background-color: var(--primary-color);
    color: var(--text-dark);
}

body.dark-mode .button-container button:hover {
    background-color: var(--primary-hover);
}