:root {
    --background-light: #f0f5f9;
    --background-dark: #2c3e50;
    --text-light: #333333;
    --text-dark: #ffffff;
    --primary-color: #3498db;
    --primary-hover: #2980b9;
    --secondary-color: #9b59b6;
    --secondary-color-dark: #9b59b6;
    --card-background-light: #ffffff;
    --card-background-dark: #34495e;
    --card-shadow-light: rgba(0, 0, 0, 0.1);
    --card-shadow-dark: rgba(0, 0, 0, 0.5);
    --link-color: #3498db; /* Add this line */
    --link-hover-color: #2980b9; /* Add this line */
}
/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure popup appears above other content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.popup-content {
    background-color: var(--card-background-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--card-shadow-light);
    padding: 1.5rem;
    max-width: 600px;
    text-align: center;
}

.popup h3 {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.popup p {
    margin-bottom: 1rem;
    color: var(--text-light);
}

.popup a {
    color: var(--primary-color);
    text-decoration: none;
}

.popup a:hover {
    text-decoration: underline;
}

.popup button {
    background-color: var(--primary-color);
    color: var(--text-dark);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup button:hover {
    background-color: var(--primary-hover);
}