        .container {
            display: flex;
            width: 100%;
        }

        #note-panel {
    position: relative;
    cursor: pointer;
    width: 250px;
    margin-top: 10px;
    background-color: var(--card-background-light);
    color: var(--text-light);
    padding: 10px;
    height: calc(465px - 65px);
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 5px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--card-background-light);
}

        body.dark-mode #note-panel {
            background-color: var(--card-background-dark);
            color: var(--text-dark);
        }

        #note-panel::-webkit-scrollbar-track {
            background: var(--card-background-light);
        }

        #note-panel::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
            border-radius: 10px;
        }

        #note-panel::-webkit-scrollbar-thumb:hover {
            background-color: darken(var(--primary-color), 10%);
        }

        #editor {
            flex-grow: 1;
            padding: 10px;
            display: flex;
            flex-direction: column;
        }

        #notepad {
            width: 100%;
            padding: 10px;
            height: 400px;
            box-sizing: border-box;
            border-radius: 5px;
            font-size: 16px;
            line-height: 1.5;
            resize: vertical;
            margin-bottom: 10px;
        }

        body.dark-mode #notepad {
            background-color: var(--card-background-dark);
            color: var(--text-dark);
        }

        #save-button {
            margin-top: -38px;
            align-self: flex-end;
            padding: 8px 16px;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            background-color: var(--button-background-light);
            color: var(--button-text-light);
            cursor: pointer;
            transition: background-color 0.3s;
        }

        body.dark-mode #save-button {
            background-color: var(--button-background-dark);
            color: var(--button-text-dark);
        }

        #save-button:hover {
            color: #3498db;
        }

        #note-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #note-list li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            margin-bottom: 5px;
            background-color: var(--note-background-light);
            color: var(--note-text-light);
            border-radius: 5px;
            position: relative;
            transition: background-color 0.3s, box-shadow 0.3s;
        }

        body.dark-mode #note-list li {
            background-color: var(--note-background-dark);
            color: var(--note-text-dark);
        }

        #note-list li:hover {
            background-color: var(--note-hover-background);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #note-list li.selected {
            background-color: var(--primary-color);
            border-color: green;
            color: white;
        }

        body.dark-mode #note-list li.selected {
            background-color: var(--primary-color);
            border-color: green;
            color: white;
        }

        .delete-icon {
            background: none;
            border: none;
            cursor: pointer;
            color: var(--delete-icon-color);
            font-size: 16px;
            transition: color 0.3s;
        }

        body.dark-mode .delete-icon {
            color: var(--delete-icon-color-dark);
        }


        .note-name-input {
            display: none;
            width: calc(100% - 40px);
        }

        .note-name {
            flex-grow: 1;
        }

        .edit-icon, .delete-icon {
            background: none;
            border: none;
            cursor: pointer;
            color: var(--delete-icon-color); /* Use same color as delete icon */
            font-size: 16px;
            transition: color 0.3s;
            margin-left: 5px; /* Space between icons */
        }
        
        #note-list li.selected .edit-icon img {
            filter: invert(1);
        }
        
        body.dark-mode .edit-icon, body.dark-mode .delete-icon {
            color: var(--delete-icon-color-dark);
        }
        
        body.dark-mode .edit-icon img {
            filter: invert(1);
        }
        
        .edit-icon img {
            width: 16px;
            height: 16px;
        }

        @media (max-width: 768px) {
            .container {
                flex-direction: column;
            }

            #note-panel {
                margin-left: 5px;
                width: 395px;
                height: auto;
                margin-top: 0;
                margin-bottom: 10px;
                border-right: none;
            }

            #editor {
                padding: 5px;
            }

            #notepad {
                height: 500px;
            }

            #save-button {
                align-self: center;
                width: 100%;
            }

            #note-list li {
                padding: 8px;
            }

            #note-panel::-webkit-scrollbar {
                display: none;
            }
        }
                    body.dark-mode  #save-button {
              color: var(--primary-color); 
            }
            #note-panel-icon {
    position: absolute;
    top: 28px;
    right: 17px;
    width: 25px;
    height: 25px;
}
body.dark-mode #note-panel-icon {
    filter: invert(1);
}
@media (min-width: 768px) {
    #note-panel-icon {
        display: none;
    }
}

@media (max-width: 767px) {
    #note-panel-icon {
        display: block;
    }
     #save-button {
            margin-top: -32px;
        }
}
